* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

@font-face {
    font-family: avenir;
    src: url(../font/Avenir.ttc);
}

@font-face {
    font-family: avenirnext;
    src: url(../font/Avenir\ Next.ttc);
}

body {
    font-family: avenir, avenirnext;
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* aqui começa o header */

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    z-index: 3;
    background-color: white;
    width: 100%;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header img {
    width: 40px;
    height: auto;
    margin: 10px;
}

header h2 {
    font-family: avenirnext;
    font-size: 16px;
    color: #71b0d4;
}

header nav {
    display: inline-block;
}

.menu {
    width: 50%;
    margin-left: 5%;
}

.login {
    width: 15%;
} 

header nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

header nav ul li{
    display: inline-block;
    font-family: avenirnext;
    margin-right: 2%;
    color: #fc573b;
    font-size: 16px;
}

header nav ul li a{
    text-decoration: none;
    color: #fc573b;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

header nav ul li a:hover {
    color: #ffe6e2;
    background-color: #fc573b;
}

/* aqui começa o formulário de cadastro de produtos */

main {
    display: flex;
    height: auto;
    align-items: center;
    flex-direction: column;
}

#conteudo {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 243, 252);
    flex-flow: column nowrap;
    padding: 10px;
    padding-bottom: 100px;
    margin-top: 120px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    color: rgb(112, 108, 117);
}

#conteudo h3{
    font-family: avenirnext;
    color: rgb(59, 43, 77);
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#conteudo form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
}

#conteudo div {
    width: 100%;
    margin-top: 5px;
}

.fotoProduto img, input {
    width: 50%;
    margin-bottom: 20px;
}

#conteudo div input {
    width: 100%;
    padding: 8px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
    color: rgb(67, 60, 75);
    font-size: 12px;
}

#conteudo div ::-webkit-input-placeholder {
    color: rgb(188, 183, 194);
}

#nome, #descricao, #preco, #foto label {
    margin-top: 15px;
    margin-bottom: 10px;
    color: rgb(112, 108, 117);
}

#descricao textarea {
    width: 100%;
    height: 100px;
    padding: 8px;
    padding-left: 10px;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    font-size: 12px;
}


.imagem input[type=file]{
    display: none;
}


#conteudo button {
    width: 100%;
    font-size: 14px;
    font-family: avenirnext;
    border-radius: 12px;
    border: none;
    color: white;
    background-color: #80c0e4;
    padding: 10px;
    /* margin-left: 180px; */
    margin-bottom: 10px;
}

#conteudo button:hover {
    background-color: #71b0d4;
}

/* aqui começa o footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #71b0d4;
}

footer p {
    color: white;
    font-family: avenirnext;
}

/* aqui começam os media querys */

@media (max-width: 1279px){

    header img {
        width: 50px;
    }

    #conteudo {
        width: 70%;
        margin-top: 150px;
    }

    header h2, header nav ul li, footer p {
        font-size: 18px;
    }

    html, #conteudo button {
        font-size: 20px;
    }

    #conteudo button {
        margin-top: 20px;
    }

    #conteudo div input, #descricao textarea{
        font-size: 18px;
        padding-left: 15px;
    }

    #conteudo h3 {
        font-size: 26px;
    }

    #conteudo form {
        width: 70%;
    }

}

@media (max-width: 768px){
    #conteudo {
        width: 80%;
        margin-top: 70px;
    }

    header h2, header nav ul li, footer p, #conteudo button {
        font-size: 16px;
    }

    header nav ul li {
        text-align: center;
    }

    #conteudo div input, #descricao textarea{
        font-size: 16px;
        padding-left: 15px;
    }

    #conteudo h3 {
        font-size: 24px;
    }
    
    #conteudo form {
        width: 70%;
    }

    #conteudo button {
        width: 100%;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: none;
        z-index: 0;
        background-color: transparent;
        position: static;
        width: 100%;
    }
    
    header div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    header img {
        width: 150px;
        height: auto;
        margin-top: 20px;
    }

    header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .menu, .login {
        width: 80%;
        margin-left: 0;
    }
    
    header nav ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    header nav ul li{
        display: block;
        font-size: 18px;
        margin-top: 20px;
        border-radius: 10px;
        padding: 10px;
        background-color: #fc573b;
        width: 100%;
    }
    
    header nav ul li a{
        text-decoration: none;
        color: #ffe6e2;
    }
    
    header nav ul li a:hover {
        color: #fc573b;
        background-color: #ffe6e2;
    }

    header h2 {
        margin-bottom: 20px;
        font-size: 20px;
        color: white;
    }

    .fotoProduto img, input {
        width: 100%;
        margin-bottom: 20px;
    }

}

@media (max-width: 480px){
    html {
        font-size: 18px;
    }

    #conteudo {
        width: 100%;
        margin-top: 50px;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        padding-top: 20px;
    }

    #conteudo div input, #descricao textarea{
        font-size: 14px;
        padding-left: 15px;
    }
    
    #conteudo form {
        width: 80%;
    }

    #conteudo button {
        width: 100%;
    }

}

