* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

@font-face {
    font-family: avenir;
    src: url(../font/Avenir.ttc);
}

@font-face {
    font-family: avenirnext;
    src: url(../font/Avenir\ Next.ttc);
}

body {
    font-family: avenir, avenirnext;
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* aqui começa o header */

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    z-index: 3;
    background-color: white;
    width: 100%;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header img {
    width: 40px;
    height: auto;
    margin: 10px;
}

header h2 {
    font-family: avenirnext;
    font-size: 16px;
    color: #71b0d4;
}

header nav {
    display: inline-block;
}

.menu {
    width: 50%;
    margin-left: 5%;
}

.login {
    width: 15%;
} 

header nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

header nav ul li{
    display: inline-block;
    font-family: avenirnext;
    margin-right: 2%;
    color: #fc573b;
    font-size: 16px;
}

header nav ul li a{
    text-decoration: none;
    color: #fc573b;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

header nav ul li a:hover {
    color: #ffe6e2;
    background-color: #fc573b;
}

/* aqui começam as informações do produto */

main {
    display: flex;
    height: auto;
    align-items: center;
    flex-direction: column;
}

#conteudo {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 243, 252);
    flex-flow: column nowrap;
    padding: 10px;
    padding-bottom: 80px;
    margin-top: 120px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    /* margin-bottom: 120px; */
    color: rgb(112, 108, 117);
}

#conteudo h3{
    font-family: avenirnext;
    color: rgb(165, 139, 196);
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.produto {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.produto div {
    width: calc(100% / 2 - 15px);
    display: flex;
}

.imagem img {
    width: 100%;
    height: auto;
}

.info {
    flex-direction: column;
}

.info h5 {
    font-size: 14px;
    color: rgb(90, 84, 97);
    padding-top: 15px;
    padding-bottom: 15px;
}

.info h4 {
    font-size: 16px;
}


 button {
    font-size: 14px;
    font-family: avenirnext;
    border-radius: 12px;
    border: none;
    color: white;
    background-color: #71b0d4;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 100px;
}


.remove {
    padding-left: 80px;
    padding-right: 80px;
    background-color: #f76349;
}

.edit {
    padding-left: 80px;
    padding-right: 80px;
    background-color: rgb(165, 139, 196);
}


/* aqui começa o footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #71b0d4;
}

footer p {
    color: white;
    font-family: avenirnext;
}

